<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="qcm_main">
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>QCM</h1>
            <%- include('../partials/qcm_list_full'); %>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>List des QCM</h3>
            <%- include('../partials/qcm_list'); %>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>